@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	min-height: 100vh;
	background: #b1e7a1;
}
.popup
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
}
.contentBox
{
	position: relative;
	width: 600px;
	height: 400px;
	background: #fff;
	border-radius: 20px;
	display: flex;
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.popup .imgBx
{
	position: relative;
	width: 300px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup .imgBx:before
{
	content: '';
	position: absolute;
	width: 250px;
	height: 250px;
	background: #e7ffe0;
	border-radius: 50%;
}
.popup .imgBx img
{
	position: relative;
	max-width: 250px;
	z-index: 1;
}
.popup .content
{
	position: relative;
	width: 300px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup .content h3
{
	color: #333;
	line-height: 1em;
	font-size: 2em;
	font-weight: 300;
}
.popup .content h2
{
	font-size: 4em;
	line-height: 1em;
	color: #333;
	color: #ff4d54;
}
.popup .content h2 span
{
	color: #333;
	font-size: 0.75em;
	text-transform: uppercase;
}
.popup .content p
{
	font-weight: 300;
}
.popup .content a
{
	display: inline-block;
	padding: 10px 20px;
	background: #ff4d54;
	color: #fff;
	margin-top: 15px;
	text-decoration: none; 
	border-radius: 10px;
}
.close
{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	background: #f3f3f3 url(close.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10;
}

@media (max-width: 768px)
{
	.contentBox
	{
		width: 300px;
		height: auto;
		flex-direction: column;
	}
	.popup .imgBx
	{
		height: 200px;
		transform: translateY(-50px);
	}
	.popup .imgBx:before
	{
		background: #fff;
	}
	.popup .content
	{
		height: auto;
		text-align: center;
		padding: 20px;
		padding-top: 0;
	}
	.close
	{
		top: -50px;
		right: -10px;
		background: #fff url(close.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 10px;
	}
}