*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
}
body
{
	background: url(bg.jpg);
	background-size: cover;
	overflow: hidden;
}
section
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
    transform-style: preserve-3d;
}
.circle
{
	animation: animate 10s linear infinite;
    transform-style: preserve-3d;
}
.circle span
{
    position: absolute;
    top: 0;
    left: 0;
    color: #35146f;
    padding: 5px 11px;
    font-size: 3em;
    background: #fff;
    transform-origin: center;
    transform-style: preserve-3d;
    border-top: 4px solid #35146f;
    border-bottom: 4px solid #35146f;
    transform: rotateY(calc(var(--i) * calc(360deg / 31))) translateZ(200px);
}
@keyframes animate
{
	0%
	{
		transform: perspective(1000px) rotateY(360deg) rotateX(15deg) translateY(-30px);
	}
	100%
	{
		transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
	}
}
.earth
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 300px;
	height: 300px;
	border-radius: 50%;
    background: url(image.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    box-shadow: inset 0 0 20px rgba(0,0,0,1), 0 0 50px #4069ff;
    animation: animateEarth 15s linear infinite;
}
@keyframes animateEarth
{
    0%
    {
        background-position: 0 0;
    }
    100%
    {
        background-position: -750px 0;
    }
}







.circle span:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transform: translateZ(-5px);
}